### Agenda: 


* Pandas removing of column and row operation
    
    
* drop( ' ' ) method

---

In [1]:
# Import Libraries

import os
import pandas as pd

In [2]:
# Declare the file path

csvpath = os.path.join('Resources', 'imdb_1000.csv')

In [3]:
# Read the csv file into a dataframe using read_csv function

df = pd.read_csv(csvpath)
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

#### Drop Column

In [4]:
data = df.copy()

In [5]:
# Drop column 'title' from the dataframe
# axis = 0 -means row, axis =1 - means column
# inplace = True, means dataframe reassignment or permanent changes to the dataframe


data.drop('title', axis=1, inplace=True)

In [6]:
data.head()

,star_rating,content_rating,genre,duration,actors_list
0,9.3,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

#### Drop Multiple Columns

In [7]:
data1 = df.copy()

In [8]:
# Drop columns 'genre' and 'duration'

data1.drop(['genre', 'duration'], axis=1, inplace=True)

In [9]:
data1.head()

,star_rating,title,content_rating,actors_list
0,9.3,The Shawshank Redemption,R,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

---

#### Drop Rows from the Dataframe

In [10]:
# Same as droping columns but just specify axis to 0 which is address **rows**

data1.drop([0,1,2], axis=0, inplace= True)

In [11]:
#df have dropped row 0, 1 and 2
data1.head()

,star_rating,title,content_rating,actors_list
3,9.0,The Dark Knight,PG-13,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."