### Agenda: 




* **``to_csv``** saving data to csv file

---

In [1]:
# Import Libraries

import os
import pandas as pd
from pandas import Grouper

In [2]:
# File Location

file = os.path.join('Resources', 'weather-1.csv')

In [3]:
# Read csv to dataframe

df = pd.read_csv(file)
df

         day          city  wind_speed  precipitation
0    10/5/18   Los Angeles   23.000000      23.000000
1    10/6/18   Los Angeles   28.000000      28.000000
2    10/7/18   Los Angeles   27.000000      27.000000
3    10/5/18  Santa Monica   27.000000      22.000000
4    10/6/18  Santa Monica   23.000000      23.000000
5    10/7/18  Santa Monica   28.000000      23.000000
6    10/5/18      Pasadena   27.000000      27.000000
7    10/6/18      Pasadena   27.000000      29.000000
8    10/7/18      Pasadena   27.000000      27.000000
9   10/10/18   Los Angeles   27.500000      27.111111
10  10/11/18   Los Angeles   27.733333      27.444444
11  10/12/18   Los Angeles   27.966667      27.777778
12  10/10/18  Santa Monica   28.200000      28.111111
13  10/11/18  Santa Monica   28.433333      28.444444
14  10/12/18  Santa Monica   28.666667      28.777778
15  10/10/18      Pasadena   28.900000      29.111111
16  10/11/18      Pasadena   29.133333      29.444444
17  10/12/18      Pasadena   29.366667      29.777778

> #### Replace all Pasadena with Glendale

In [4]:
# User replace

df.replace('Pasadena', 'Glendale', inplace=True)

df

         day          city  wind_speed  precipitation
0    10/5/18   Los Angeles   23.000000      23.000000
1    10/6/18   Los Angeles   28.000000      28.000000
2    10/7/18   Los Angeles   27.000000      27.000000
3    10/5/18  Santa Monica   27.000000      22.000000
4    10/6/18  Santa Monica   23.000000      23.000000
5    10/7/18  Santa Monica   28.000000      23.000000
6    10/5/18      Glendale   27.000000      27.000000
7    10/6/18      Glendale   27.000000      29.000000
8    10/7/18      Glendale   27.000000      27.000000
9   10/10/18   Los Angeles   27.500000      27.111111
10  10/11/18   Los Angeles   27.733333      27.444444
11  10/12/18   Los Angeles   27.966667      27.777778
12  10/10/18  Santa Monica   28.200000      28.111111
13  10/11/18  Santa Monica   28.433333      28.444444
14  10/12/18  Santa Monica   28.666667      28.777778
15  10/10/18      Glendale   28.900000      29.111111
16  10/11/18      Glendale   29.133333      29.444444
17  10/12/18      Glendale   29.366667      29.777778


> #### Store our updated data into a csv file

In [5]:
#this copy will include the index series into a csv


df.to_csv('Resources/weather_updated')

In [6]:
# Excluding the index into a csv file
# Specify the index= False

df.to_csv('Resources/weather_updated_no_Index', index=False)

In [7]:
# Excluding the index into a csv file
# Specify the index= False


# Excluding the Table Header into a csv file
# Specify the header= False

df.to_csv('Resources/weather_updated_no_Header', index=False, header=False)

> #### Only Specific Columsn to Copy and not the entire table

In [8]:
# Excluding the Table Header into a csv file
# Specify the header= False

df.to_csv('Resources/weather_updated_spcific_columns', index=False, columns=['day','city', 'wind_speed'])